{{ if eq .Type "recipes" }}

 


  <!-- RECIPE META DATA -->
  <meta property="og:type" content="recipe" />
  <meta property="og:site_name" content="puredrinkology.com" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

    {{ with $.Resources }}
      {{ with .GetMatch (printf "**/%s" "{cover.*}") }}
          {{ $cover := .Resize "1000x" }}
          {{ with $cover }}
            <meta property="og:image" content="{{ .Permalink }}"/>
            <meta property="og:image:width" content="1000" />
            <meta property="og:image:height" content="1000" />
          {{ end }}
      {{ end }}
    {{ end }}

    <!-- Recipe-Specific Metadata -->
    {{ with .Params.author }}
      <meta property="og:recipe:author" content="{{ . }}" />
    {{ end }}

    <meta property="og:recipe:ingredients" content="{{ range .Params.ingredients }}{{ .measure }} {{ .item }}, {{ end }}" />
    <meta property="og:recipe:instructions" content="{{ range .Params.instructions }}{{ .item }} {{ end }}" />


    <!-- RECIPE SCHEMA -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Recipe",
        "name": "{{ .Title }}",
        "description": "{{ .Description }}",
        "author": {
          "@type": "Person",
          "name": "{{ .Params.author | default "Pure Drinkology" }}"
        },
        "image": {{ with $.Resources }}{{ with .GetMatch (printf "**/%s" "{cover.*}") }}{{ $cover := .Resize "1000x" }}{{ with $cover }}{{ (.Permalink) }}{{ end }}{{ end }}{{ end }}
        "recipeIngredient": [
          {{ range  $index, $ingredient := .Params.ingredients }}"{{ $ingredient.measure }} {{ $ingredient.item }}"{{ if ne (add $index 1) (len $.Params.ingredients) }},{{end}}
          {{ end }}
        ],
        "recipeInstructions": [
          {{ range  $index, $instruction := .Params.instructions }}"{{ $instruction.item }}" {{ if ne (add $index 1) (len $.Params.instructions) }},{{end}}
          {{ end }}
        ],
        "recipeCategory": "{{ humanize .Params.category }}",
        "recipeCuisine": "Cocktail",
        "keywords": "{{.Title}}, {{ .Params.category }}, {{ .Params.base_spirit }}, {{ .Params.family }}",
        "recipeYield": "1 serving"
      }
    </script>
    

{{ else }}
   <!-- CATEGORY PAGE META DATA -->
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="puredrinkology.com" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  {{ with $.Resources }}
    {{ with .GetMatch (printf "**/%s" "{cover.*}") }}
        {{ $cover := .Resize "1000x" }}
        {{ with $cover }}
          <meta property="og:image" content="{{ .Permalink }}"/>
        {{ end }}
    {{ end }}
  {{ end }}


{{ end }}


