

<footer class="shared footer bg-dark text-white-50 px-5 py-3 {{ if .Page.Params.isAppMode }}d-none d-lg-block{{ end }}">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 col-xl-12 text-center">
        <p class="fs-4 fw-semibold text-uppercase text-white-50">{{ .Site.Title }}</p>

        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center list-unstyled">
          {{ with .twitter }}<li class="rounded-circle bg-dark me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 text-muted" href="{{ . }}" title="Twitter" target="_blank">{{ partial "icons/x.html" }}</a></li>{{ end }}
          {{ with .pinterest }}<li class="rounded-circle bg-dark me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 text-muted" href="{{ . }}" title="Pinterest" target="_blank">{{ partial "icons/pinterest.html" }}</a></li>{{ end }}
          {{ with .instagram }}<li class="rounded-circle bg-dark me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 text-muted" href="{{ . }}" title="Instagram" target="_blank">{{ partial "icons/instagram.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}

        
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-muted text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>


</footer>

