
<nav class="navbar navbar-expand-xl navbar-dark bg-dark py-2">
  <div class="container-fluid p-0 m-0">
    <div class="row w-100 p-0 m-0 align-items-center">
      
      <div class="col-2 d-block d-xl-none text-light text-center">
          <!-- Toggle button, visible on mobile only -->
          <button class="navbar-toggler d-xl-none  m-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </div>

      <div id="site-title" class="col-xl-4 col-8 py-1 text-light text-center">
        <a class="d-xl-flex align-items-center" href="{{ .Site.BaseURL }}">
          <span class="p-0 px-xl-5 fs-3 fw-semibold text-uppercase text-white">{{ .Site.Title }}</span>
        </a>
      </div>
      
      <div id="search-box-item" class="col-xl-4 col-8 d-none d-xl-block align-items-center">
        <div  class="text-center m-0 p-1 p-xl-0 d-block w-100" style="display: none">
          <form id="search" >
            <input type="text" id="search-box" placeholder="Search Cocktails" autocomplete="off" class="m-0 px-3 py-2 text-center w-100" style="border-radius: 20px;"/>
          </form>
        </div>
      </div>
      
      <div class="col-xl-4 d-none d-xl-block text-light">
        <!-- Desktop Menu Items -->
        <div class="collapse navbar-collapse d-flex" id="navbarDesktopContent">
          <ul class="navbar-nav m-auto mb-xl-0 w-100 justify-content-center">
            
            {{ range .Site.Menus.main }}
              <li class="nav-item text-center d-none d-xl-flex m-0">
                <a class="nav-link text-white px-4" href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="col-2 d-block d-xl-none text-light text-center">
         <!-- Search button, visible on mobile only -->
         <button id="mobile-search-btn" class="navbar-toggler d-xl-none p-0 m-0 my-2 border-0 text-center" type="button" >
          <span class="fa fa-search"></span>
        </button>
      </div>

    </div>
  </div>
</nav>




<!-- Mobile Side Navbar Content -->
<div id="navbarContent" class="side-nav collapse d-xl-none  bg-black">
  <ul class="navbar-nav ms-auto my-3">
    <li class="nav-item text-left m-0">
      <a href="/" class="text-white text-decoration-none"><span class="px-3 fs-3 fw-semibold text-uppercase text-white">{{ .Site.Title }}</span></a>
    </li>
  </ul>

  <div class="navbar-nav ms-auto mb-xl-0 text-white fs-4">
      <a href="/recipes/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-whiskey-glass"></i></div>
          <div class="col-10">By Collection</div>
        </div>
      </a>
      <a href="/recipes/family/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-martini-glass"></i></div>
          <div class="col-10">By Type</div>
        </div>
      </a>
      <a href="/recipes/spirit/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-wine-bottle"></i></div>
          <div class="col-10">By Spirit</div>
        </div>
      </a>

    </div>
  </div>


<script>
    const navbarContent = document.getElementById('navbarContent');
    document.querySelector('.navbar-toggler').addEventListener('click', function() {
      document.body.classList.toggle('navbar-open');
    });

    $(document).ready(function() {
      $('#mobile-search-btn').on('click', function() {
        console.log("show search box")
        const mobileSearchBox = $('#search-box-item');
        const mobileSiteTitle = $('#site-title');

        if (mobileSearchBox.hasClass('show')) {
          mobileSiteTitle.show()
          mobileSearchBox.addClass("d-none")
          mobileSearchBox.removeClass("show")
        } else {
          mobileSiteTitle.hide()
          mobileSearchBox.removeClass("d-none")
          mobileSearchBox.addClass("show")
        }
      });
    });

</script>

