

{{ define "main" }}
  <section class="section blog-list pb-5">
    <div class="container-fluid p-0">
      <div id="search-results" class="row"></div>

      <div class="row w-100 m-0">
        <div class="col-12 description mb-4 ">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="p-2">
                {{ with .Title }}
                  <h1 class="fs-1 text-primary pb-3">{{ . }}</h1>
                {{ end }}
                
                
                <p>{{ .Content }}</p>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="p-lg-5 p-2">
                {{ .Params.secondary | safeHTML }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-4 w-100">

      {{ range where ($.Site.GetPage "taxonomyTerm" "family").Pages "Params.category" "cocktail" }}
        <div class="col-12 col-md-4 col-lg-3 mb-4 ">
          <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;" >
            <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                  {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                      {{ with .Resize "1000x" }}
                          <img class="rounded-10" src="{{ .RelPermalink }}" alt="{{ .Title }}" title="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
                      {{ end }} 
                  {{ end }}
                  {{ if .Params.coverImage }}
                    <img class="rounded-10" src="{{ .Params.coverImage }}" alt="{{ .Title }}" title="{{ .Title }}">
                  {{ end }}
            </a>

            <div class="card-body text-center">
              <div class="fs-5 card-title fw-semibold">
                <a href="{{ .Permalink }}" class="text-decoration-none" title="{{ .Title }}">
                  {{ with .Params.shortname }}{{ . }}{{ else }}{{ .Title }}{{ end }}
                </a>
              </div>
              
              
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  </section>
{{ end }}


