{{ define "main" }}
<section class="section blog-list pb-5">
  <div class="container-fluid p-0">
    <div id="search-results" class="row"></div>

    <div class="row w-100 m-0">
      <div class="col-12 description mb-4 ">
        <div class="container-fluid p-0 m-0">
          <div class="row g-4">
            <div class="col-12">
              <div class="p-2">
                {{ with .Title }}
                <h1 class="fs-1 text-primary">{{ . }}</h1>
                {{ end }}

                {{ .Content }}
              </div>
            </div>
          </div>
        </div>

        <!-- Containers for Family and Collection pages -->
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-12">
              <h2>Find your next drink from our Curated Cocktail Collections</h2>
            </div>
            
            <!-- Loop through collection pages -->
            {{range ($.Site.GetPage "taxonomyTerm" "collection").Pages }}
            <div class="col-12 col-md-4 col-lg-2 mb-4 ">
              <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                  {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                      {{ with .Resize "1000x" }}
                          <img class="rounded-10" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
                      {{ end }} 
                  {{ end }}
                  {{ if .Params.coverImage }}
                    <img class="rounded-10" src="{{ .Params.coverImage }}" alt="{{ .Title }}" title="{{ .Title }}" />
                  {{ end }}
                </a>
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></h5>
                </div>
              </div>
            </div>
            {{ end }}
          </div>


          <div class="row mt-4">
            <div class="col-12">
              <h2>Explore our Cocktail Recipe Families</h2>
            </div>
            
            <!-- Loop through family pages -->
            {{ range where ($.Site.GetPage "taxonomyTerm" "family").Pages "Params.category" "cocktail" }}
              <div class="col-12 col-md-4 col-lg-2 mb-4 ">
                  <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                    <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                      {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                          {{ with .Resize "1000x" }}
                              <img class="rounded-10" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
                          {{ end }} 
                      {{ end }}
                      {{ if .Params.coverImage }}
                        <img class="rounded-10" src="{{ .Params.coverImage }}" alt="{{ .Title }}" title="{{ .Title }}" />
                      {{ end }}
                    </a>
                    <div class="card-body">
                      <h5 class="card-title"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></h5>
                    </div>
                  </div>
                </div>
            {{ end }}
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <h2>Explore our Non Alcoholic Recipe Families</h2>
            </div>
            
            <!-- Loop through family pages -->
            {{ range where ($.Site.GetPage "taxonomyTerm" "family").Pages "Params.category" "mocktail" }}
              <div class="col-12 col-md-4 col-lg-2 mb-4 ">
                  <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                    <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                      {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                          {{ with .Resize "1000x" }}
                              <img class="rounded-10" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
                          {{ end }} 
                      {{ end }}
                      {{ if .Params.coverImage }}
                        <img class="rounded-10" src="{{ .Params.coverImage }}" alt="{{ .Title }}" title="{{ .Title }}" />
                      {{ end }}
                    </a>
                    <div class="card-body">
                      <h5 class="card-title"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></h5>
                    </div>
                  </div>
                </div>
            {{ end }}
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <h2>Explore our Cocktail Recipes by Spirit</h2>
            </div>
            
            <!-- Loop through family pages -->
            {{range ($.Site.GetPage "taxonomyTerm" "base_spirit").Pages }}
                <div class="col-12 col-md-4 col-lg-2 mb-4 ">
                  <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                    <a class="aspect-ratio-full" href="{{ .Permalink }}" title="{{ .Title }}">
                      {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                          {{ with .Resize "1000x" }}
                              <img class="rounded-10" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
                          {{ end }} 
                      {{ end }}
                      {{ if .Params.coverImage }}
                        <img class="rounded-10" src="{{ .Params.coverImage }}" alt="{{ .Title }}" title="{{ .Title }}" />
                      {{ end }}
                    </a>
                    <div class="card-body">
                      <h5 class="card-title"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></h5>
                    </div>
                  </div>
                </div>
            {{ end }}
          </div>
        <!-- close container-fluid -->
        </div> 

      </div>
    </div>
  </div>
</section>
{{ end }}