

{{ define "main" }}
  <section class="section blog-list pb-5">
    <div class="container-fluid p-0">
      <div class="row ">
        <div class="col-12">
          
        </div>
        <div class="col-12 description mb-4 ">
          <div class="row g-4">
              <div class="col-12">
                <div class="p-2">
                  {{ with .Title }}
                    <h2 class="fs-1 text-primary">Explore Our Cocktail Collections</h2>
                  {{ end }}
                </div>
              </div>
              <div class="col-12 text-start pb-3">
                <a href="/recipes/family/" class="p-2">View All Collections</a>
              </div>

              <div class="col-12 col-lg-2">
                <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                  <a class="aspect-ratio-full" href="/recipes/family/">
                    <img class="rounded-10" src="/family/martini/images/cover.jpeg" />
                  </a>
  
                  <div class="card-body">
                    <h5 class="card-title fw-semibold"><a href="/recipes/family/highball/" class="text-decoration-none">Craft your Perfect Cocktail</a></h5>
                    <div class="mt-2">
                      <a href="/recipes/category/cocktail/" class="badge text-bg-primary text-decoration-none">cocktail</a>
                      <a href="/recipes/family/" class="badge text-bg-info text-decoration-none">family</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-2">
                <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                  <a class="aspect-ratio-full" href="/recipes/family/highball/">
                    <img class="rounded-10" src="/family/highball/images/cover.jpeg" />
                  </a>
  
                  <div class="card-body">
                    <h5 class="card-title fw-semibold"><a href="/recipes/family/highball/" class="text-decoration-none">Refreshing Summer Drinks</a></h5>
                    <div class="mt-2">
                      <a href="/recipes/category/cocktail/" class="badge text-bg-primary text-decoration-none">cocktail</a>
                      <a href="/recipes/family/highball/" class="badge text-bg-info text-decoration-none">highball</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-2">
                <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                  <a class="aspect-ratio-full" href="/recipes/family/negroni/">
                    <img class="rounded-10" src="/family/negroni/images/cover.jpeg" />
                  </a>
  
                  <div class="card-body">
                    <h5 class="card-title fw-semibold"><a href="/recipes/family/negroni/" class="text-decoration-none">Celebrate Negroni Week</a></h5>
                    <div class="mt-2">
                      <a href="/recipes/category/cocktail/" class="badge text-bg-primary text-decoration-none">cocktail</a>
                      <a href="/recipes/family/negroni/" class="badge text-bg-info text-decoration-none">highball</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12  col-lg-2">
                <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                  <a class="aspect-ratio-full" href="/recipes/family/margarita/">
                    <img class="rounded-10" src="/family/margarita/images/cover.jpeg" />
                  </a>
  
                  <div class="card-body">
                    <h5 class="card-title fw-semibold"><a href="/recipes/family/margarita/" class="text-decoration-none">Its always Cinco De Mayo</a></h5>
                    <div class="mt-2">
                      <a href="/recipes/category/cocktail/" class="badge text-bg-primary text-decoration-none">cocktail</a>
                      <a href="/recipes/family/margarita/" class="badge text-bg-info text-decoration-none">margarita</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-2">
                <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                  <a class="aspect-ratio-full" href="/recipes/family/ancestral/">
                    <img class="rounded-10" src="/family/ancestral/images/cover.jpeg" />
                  </a>
  
                  <div class="card-body">
                    <h5 class="card-title fw-semibold"><a href="/recipes/family/ancestral/" class="text-decoration-none">Old World Originals</a></h5>
                    <div class="mt-2">
                      <a href="/recipes/category/cocktail/" class="badge text-bg-primary text-decoration-none">cocktail</a>
                      <a href="/recipes/family/ancestral/" class="badge text-bg-info text-decoration-none">ancestral</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-2">
                <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                  <a class="aspect-ratio-full" href="/recipes/spirit/">
                    <img class="rounded-10" src="/base_spirit/bourbon/images/cover.jpeg" />
                  </a>
  
                  <div class="card-body">
                    <h5 class="card-title fw-semibold"><a href="/recipes/spirit/" class="text-decoration-none">Explore by Spirit</a></h5>
                    <div class="mt-2">
                      <a href="/recipes/category/cocktail/" class="badge text-bg-primary text-decoration-none">cocktail</a>
                      <a href="/recipes/spirit/" class="badge text-bg-info text-decoration-none">spirit</a>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
         
        </div>
      </div>
    
    </div>
  </div>

  </section>
{{ end }}


