{{ define "main" }}


  <section class="section blog-single p-0">
    <div class="container-fluid p-0">
      <div id="search-results" class="row"></div>

      <div class="row gx-0 h-100">
        <div class="col-md-6 col-12 d-flex">
            {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                {{ with .Resize "1000x" }}
                    <img class="flex-grow-1" src="{{ .RelPermalink }}" alt="{{ .Title }}" style="width:100%; height: 100%; object-fit: cover;" />
                {{ end }} 
            {{ end }}
        </div>
        <div class="col-md-6 col-12 recipe d-flex align-items-center justify-content-center">
            <div class="recipe-content d-flex flex-column px-lg-5 px-2">
                <div class="ingredients_header">
                    <h1 class="fs-1 text-primary pb-3 text-uppercase" itemprop="name">{{ .Params.fullname }}</h1>
                </div>
                <div class="ingredients">
                    {{ range $index, $ingredient := .Params.ingredients }}
                        <div itemprop="recipeIngredient" class="ingredient">
                            <span data-amount="{{ $ingredient.measure }}" data-system="imperial" class="text-lowercase">{{ $ingredient.measure }}</span>
                            <span data-system="imperial" class="text-lowercase">{{ $ingredient.unit }}</span>
                            <span class="text-uppercase">{{ $ingredient.item }}</span>
                        </div>
                    {{ end }}
                </div>
    
                <div class="instructions_header"></div>
                
                {{ range $index, $instr := .Params.instructions }}
                    <div itemprop="recipeInstructions" class="ingredient">
                        <span>{{ $instr.item }}</span>
                    </div>
                {{ end }}
    
                {{ if .Params.serve }}
                    <div class="instructions_header">
                        <h2>Serve</h2>
                    </div>
                    <div itemprop="recipeInstructions" class="instruction">{{ .Params.serve }}</div>
                    <div itemprop="recipeInstructions" class="instruction">{{ .Params.garnish }}</div>
                {{ end }}

                <div class="ingredient">
                  {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                    {{ with .Resize "1000x" }}
                      <a 
                        href="https://www.pinterest.com/pin/create/button/" 
                        data-pin-url="{{ $.Page.Permalink }}"
                        data-pin-media="{{ .Permalink }}"
                        data-pin-description="{{ $.Page.Description }}"
                        data-pin-do="buttonPin" 
                        data-pin-tall="true" 
                        data-pin-save="true" 
                        data-pin-height="28">
                        <img src="https://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_28.png" alt="Pin it"/>
                      </a>
                    {{ end }} 
                  {{ end }}
                </div>
                

            </div>
        </div>
    </div>
    
    


    <div class="container-fluid p-0  description">
      <div class="row gx-0 p-5">
        <div class="col-lg-6 col-12 p-lg-5 p-0">
          <h2 class="fs-1 text-primary pb-3">{{ .Params.Title }}</h2>
          <p>
            <a href="/recipes/category/{{lower .Params.category}}/" class="badge text-bg-primary text-decoration-none">{{ lower .Params.category }}</a> 
            <a href="/recipes/spirit/{{lower .Params.base_spirit}}/" class="badge text-bg-secondary text-decoration-none">{{lower .Params.base_spirit }}</a>
            <a href="/recipes/family/{{lower .Params.family}}/" class="badge text-bg-info text-decoration-none">{{ lower .Params.family }}</a> 
          </p>
          <p itemprop="description">
            {{ .Params.Description | markdownify }}
          </p>
        </div>

        <div class="col-lg-6 col-12 p-0 p-lg-5">
          {{ if .Params.flavor_description }}
          <h2 class="fs-4 text-primary py-3">What does the {{ .Params.fullname }} taste like?</h2>
          <p>
            {{ .Params.flavor_description | markdownify}}
          </p>
          {{ end }}

          {{ if .Params.bartender_tips }}
          <h2 class="fs-4 text-primary py-3">What tips do you have when making the {{ .Params.fullname }}?</h2>
          <p>
            {{ .Params.bartender_tips | markdownify }}
          </p>
          {{ end }}


        </div>
      </div>

      
    </div>

    <div class="container-fluid p-lg-5 p-md-3 p-2">
      <div class="row p-0">
        <div class="col-lg-12 col-12">
            <h2 class="fs-2 text-primary px-4 py-3">You might also like these</h2>


              <div class="row g-4 p-2">
                {{ with .Site.RegularPages.Related . | first 18 }}
                  {{ range . }}
                    <div class="col-12 col-md-4 col-lg-2">
                      <div class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;" >
                        <a class="aspect-ratio-full" href="{{ .Permalink }}">
                              {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                                  {{ with .Resize "1000x" }}
                                      <img class="" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" />
                                  {{ end }} 
                              {{ end }}
                        </a>
        
                        <div class="card-body">
                          <h5 class="card-title fw-semibold"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Params.shortname }}</a></h5>
                          <p class="card-text text-black-61">{{ .Summary }}</p>
                          <a href="/recipes/category/{{lower .Params.category}}/" class="badge text-bg-primary text-decoration-none">{{ lower .Params.category }}</a> 
                          <a href="/recipes/spirit/{{lower .Params.base_spirit}}/" class="badge text-bg-secondary text-decoration-none">{{lower .Params.base_spirit }}</a>
                          <a href="/recipes/family/{{lower .Params.family}}/" class="badge text-bg-info text-decoration-none">{{ lower .Params.family }}</a> 
                        </div>
                      </div>
                    </div>
                  {{ end }}
                {{ end }}
            </div>
                  
        </div>
      </div>
    </div>



    <div id="accordion" class="pinterest-images">
        <div class="card border-0">
          <div class="card-body justify-content-center text-center" data-toggle="collapse" data-target="#pinImages" aria-expanded="true" aria-controls="pinImages">
            <i class="fa fas-book" style="color: #fefefe"></i>
          </div>

        {{ $coverImagePath := "images/cover.*" }}
        {{ $coverImages := .Page.Resources.Match $coverImagePath }}

        {{ $pinPath := "pins/**" }}
        {{ $pinImages := .Page.Resources.Match $pinPath }}
        {{ $pinDesc := .Page.Params.Description }}
        <div id="pinImages" class="row g-4 pb-5 px-3 collapse hide" data-parent="#accordion">
          {{ range $coverImages }}
          <div class="col-3">
            <a class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
              <div class="aspect-ratio-full">
                {{ $pin := .Resize "1000x" }}
                {{ with $pin }}
                  <img src="{{ .RelPermalink }}" alt="{{$pinDesc}}" title="{{$pinDesc}}">
                {{ end }}
              </div>
            </a>
          </div>
          {{ end }}

          {{ range $pinImages }}
            <div class="col-3">
              <a class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;">
                <div class="aspect-ratio-full">
                  {{ $pin := .Resize "1000x" }}
                  {{ with $pin }}
                    <img src="{{ .RelPermalink }}" alt="{{$pinDesc}}" title="{{$pinDesc}}">
                  {{ end }}
                </div>
              </a>
            </div>
          {{ end }}
        </div>
        </div>

       


    </div>

  </section>



{{ end }}
