body {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  margin: 0;
}

header, footer {
  padding: env(safe-area-inset-top) 0;
}


// HERO SECTION 
.hero {
  position: relative;
  width: 100%;  /* Ensure the hero section is full width */
  height: 100vh; 
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  color: white;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /* Full width of parent container */
  height: 100%; 
  overflow: hidden;
}

.background-video {
  top: 0%;
  left: 0%;
  min-width: 100%;   /* Ensure video covers the full width */
  min-height: 100%;   /* Ensure video covers the full width */
  width: auto;
  height: auto;
  object-fit: cover; /* Maintain aspect ratio, cover the container */
  z-index: -1;
}

.overlay-content {
  position: absolute;
  z-index: 2;
}

h1.site-header {
  font-size: 8rem;
  font-weight: bold;
  text-transform: uppercase;
}

p.site-description {
  font-size: 2.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.explore-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #e65c00; /* Darken the button on hover */
}

// END HERO SECTION


.category-header {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 0;
  background-color: #3498db; /* A cool blue, but you can choose any color */
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}

.category-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #3498db, #2980b9, #3498db);
  z-index: -1;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.rounded-10{
  border-radius: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.text-black-61 { color: rgba(0, 0, 0, 0.61); }

.bg-green { background-color: #bfe1cf; }
.bg-yellow { background-color: #F6DE9D; }
.bg-red { background-color: #FF87B0; }
.bg-purple { background-color: #ADA8D6; }

.bg-blue-16 {
  background-color: rgba(39, 163, 255, 0.16);
}

.border-blue-16 {
  border-color: rgba(39, 163, 255, 0.16);
}

.bg-blue-63 {
  background-color: rgba(220, 240, 255, 0.63);
}

.bg-blue-light {
  background-color: #F6FBFF;
}

.border-radius-34 {
  border-radius: 34px;
}

.size-16 {
  min-width: 16px;
  max-width: 16px;

  min-height: 16px;
  max-height: 16px;
}

.size-24 {
  min-width: 24px;
  max-width: 24px;

  min-height: 24px;
  max-height: 24px;
}

.size-64 {
  min-width: 64px;
  max-width: 64px;

  min-height: 64px;
  max-height: 64px;
}

.size-90 {
  min-width: 90px;
  max-width: 90px;

  min-height: 90px;
  max-height: 90px;
}

.aspect-ratio-62-5 {
  position: relative;
  width: 100%;
  max-height: 0;
  padding-bottom: 62.5%;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.aspect-ratio-full {
  position: relative;
  width: 100%;
  max-height: 0;
  padding-bottom: 110%;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.bg-gradient {
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

ul li {
  margin-bottom: 1.4rem;
}

.pricing-divider {
  border-radius: 20px;
  background: #C64545;
  padding: 1em 0 4em;
  position: relative;
}

.yellow .pricing-divider {
  background: #ffbd59;
}

.blue .pricing-divider {
  background: #2D5772;
}

.green .pricing-divider {
  background: #bfe1cf;
}


.yellow b {
  color: #ffbd59
}

.red b {
  color: #C64545
}

.blue b {
  color: #2D5772
}

.green b {
  color: #bfe1cf
}


.yellow .btn-custom {
  background: #ffbd59;
}

.red b.btn-custom {
  background: #C64545;
}

.blue .btn-custom {
  background: #2D5772;
}

.green .btn-custom {
  background: #bfe1cf;
}


.pricing-divider-img {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 80px;
}

.deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.btn-custom {
  color: #fff;
  border-radius: 20px
}
.btn-custom:hover{
  color: #fff;
}
.img-float {
  width: 50px;
  position: absolute;
  top: -3.5rem;
  right: 1rem
}

.princing-item {
  transition: all 150ms ease-out;
}

.princing-item:hover {
  transform: scale(1.05);
}

.princing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.princing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.blog-content img {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.sparkboxes .card {
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 15px;
  height: 100px;
}

.sparkboxes .card .details {
  position: absolute;
  color: #000;
  transform: translate(0px, 10px);
}
.sparkboxes strong {
  position: relative;
  z-index: 3;
  color: #fff;
}

#winRateChart {
  margin-left: 60px;
}


.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 97vw;
  height: 97vh;
  z-index: 9999;
}

.mentor{
  display: none
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 15px;
  // width: 300px;
  max-width: 90%;
  overflow: hidden; /* This ensures that child elements do not overflow the rounded corners */
}

/* Styles for the left column with the image */
.modal-left-column img {
  // height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px; /* Apply border-radius to the top-left of the image */
  border-bottom-left-radius: 15px; /* Apply border-radius to the bottom-left of the image */
}

/* Styles for the right column content */
.modal-right-column {
  border-top-right-radius: 15px; /* Apply border-radius to the top-right of the content */
  border-bottom-right-radius: 15px; /* Apply border-radius to the bottom-right of the content */
}

.modal-backdrop.show{
  opacity: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Styling for the sidebar */
.popup {
  position: fixed;
  left: 0;
  bottom: -50%; /* Start with the sidebar hidden outside the screen */
  width: 100%;
  height: 50%;
  background-color: #F6FBFF;
  transition: bottom 0.5s ease;
  z-index: 9999; /* Make sure the sidebar is on top of other content */
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.popup .newsletter-form {
  padding: 20px;
}

.popup .close-button {
  cursor: pointer;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}



@media (min-width: 992px) { /* Large screens and up */
  .post-column {
      height: 700px;
      max-height: 700px;
      overflow-y: scroll;
  }

  .content-section .card{
    border-radius:15px
  }
  .content-section .card-title{
    border-radius:10px 10px 0px 0px
  }

  .calendar-column {
    height: 460px;
    max-height: 460px;
    overflow-y: scroll;
  }

  .lg-rounded{
    border-radius: 15px;
  }
}


.gradient-text {
  font-size: 3em;
  font-weight: bold;
  background: -webkit-linear-gradient(#0cc0df, #ffde59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden; /* Ensure the shimmer stays within the text bounds */
}

.gradient-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
}



// Glossy Modals
.glassy-bg {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: none;
}

.modal-content {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
      transform: translateY(-50%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal-dialog {
      width: 100%;
      margin: 0;
  }

  .modal-content {
      border-radius: 0;
  }
}


.tooltip {
  z-index: 100000000; 
}
.tooltip-inner {
  min-width: 500px !important;
  text-align: left;
}

#tradeEntryTooltip {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px; /* Adjust this to control the size of the "i" */
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



.title{
  font-size: 72px;
  font-weight: bold;
  text-transform: capitalize;
}

.title strong{
  
  background: -webkit-linear-gradient(#0cc0df, #ffde59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden; /* Ensure the shimmer stays within the text bounds */
}

.subtitle{
  font-size: 72px;
  font-weight: bold;
  text-transform: capitalize;
}

.gradient-text-red,
.subtitle strong{
  
  background: -webkit-linear-gradient(#0cc0df, #ffde59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden; /* Ensure the shimmer stays within the text bounds */
}



/* Typewriter Effect */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}


.home-gradient {
  background: linear-gradient(
      180deg,
      #000000 0%,              /* Start with black at the top */
      #0b1a29 10%,             /* Deep blue */
      #205072 20%,             /* Dark cyan */
      #33808b 30%,             /* Teal */
      #47a690 40%,             /* Sea green */
      #6edc82 50%,             /* Light green */
      #9fff70 60%,             /* Lime green */
      #c2ff70 70%,             /* Yellow-green */
      #ffd047 80%,             /* Yellow-orange */
      #ff9e47 90%,             /* Orange */
      #ff5b7b 100%             /* Red-pink at the bottom */
  );
  background-size: 100% 100%;
  // animation: homepage_gradient 16s ease-in-out infinite;
}

@keyframes homepage_gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.dark-gradient{
  border-radius: 50px;
  background: radial-gradient(
    54.1% 75% at 0% 44.2%,          /* Shape and position of the gradient */
    rgba(27, 66, 60, 0.48) 0%,      /* Starting color: semi-transparent green */
    rgb(0, 0, 0) 100%               /* Ending color: solid black */
);
}


.accordion-button {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; /* Black background */
  color: #fff; /* White text */
  font-size: 1.2rem; /* Increase font size for visibility */
  padding: 0.75rem 1.25rem; /* Adjust padding for spacing */
  border: none;
  border-radius: 0;
  box-shadow: none; /* Remove focus outline */
}

.accordion-button:focus {
  box-shadow: none; /* Remove focus outline */
}

.accordion-button::after {
  filter: invert(1); /* Invert the color of the icon */
}

.accordion-button.collapsed {
  color: #aaa; /* Lighter text color when collapsed */
}

.accordion-button:not(.collapsed) {
  color: #aaa; /* Lighter text color when collapsed */
}

.accordion-item {
  border: none; /* Remove the border around each item */
  margin-bottom: 2em;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.accordion-flush .accordion-item {
  border: none;
}

.accordion-body {
  color: #ddd; /* Light text color for content */
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; /* Black background */
  text-align: left;
  border: none;
}

.recipe{
  padding: 0em;
  font-size: 1.2em;
  height: 100%;

}
.recipe-content {
  height: 100%; /* This div should also take full height */
  justify-content: center; /* Center vertically */
  align-items: flex-start; /* Keep content aligned to the top within the centered space */
}

.recipe .ingredients_header{
  // background-color: #f9f7f4;
  padding: 1em;
}

.recipe .instructions_header{
  // background-color: #f9f7f4;
  padding: 1em;
}

.recipe .ingredient {
  padding: 0.75em 1em;
}

.recipe .instruction{
  padding: 0.75em 1em;
}

div.description{
  background-color: #f9f7f4;
}

div.description .row{
  padding: 3em;
}


#search-box{
 border: 0;

}

#search-box:focus {
  outline: none;  /* Remove the default outline */
  border: none;   /* Optionally remove the border if you have one */
  box-shadow: 0 0 5px rgba(0, 120, 255, 0.5); /* Example custom focus style */
}